*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}

body{
 font-family: "Poppins",sans-serif;
 background-color: #fdfdfd;
 color: #333;
}

header{
    background-color: #9cc779;
    padding: 20px 0;
    color: white;
    position: sticky;
    top: 0;
    z-index: 1000;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 100px;
    margin-right: 50px;
}

nav ul{
    list-style: none;
    display: flex;
    gap: 20px
}

nav ul a{
    color: #fff;
    text-decoration: none;
    font-size: larger;
}

nav a:hover{
    color: black ;
}


/* home section */

#hero{
    position: relative;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-align: center;
    overflow: hidden;
}

.bg-video{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: 1;
}

.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background: rgb(0, 0, 0,0.4);
}

.home-contain{
    position: relative;
    z-index: 3;
    max-width: 800px;
    text-align: center;
}

.home-contain h2{
    font-size: 3rem;
    margin-bottom: 15px;
}

.home-contain p{
    font-size: 1.3rem;
    margin-bottom: 25px;
}

.home-contain a{
    background-color: rgb(107, 186, 107);
    padding: 15px 25px;
    color: yellow;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
}

.home-contain a:hover{
    background-color: rgb(253, 212, 212);
}


/* section */
section{
    padding: 0 20px;
    display: flex;
    justify-content: center;
}
section .container{
    width: 100%;
    max-width: 1200px;
    padding: 0 20px;
}


/* Product section */

#products {
    padding: 60px 0;
    background: #fdfdfd;
}

#Product h2 {
   justify-content: center;
    margin-bottom: 40px;
    margin-top:  20px;
    font-size: 2.5rem;
    color: #333;
    text-align: center;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 25px;
    justify-content: center;
}

.product-card {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}
.product-card img {
    width: 100%;
    height: 220px;
    object-fit: cover;
}

.product-card:hover {
    transform: translateY(-10px);
}

.product-card h3 {
    font-size: 1.2rem;
    margin: 15px;
    color: #333;
}



/* Pacakage section */

#packages {
    padding: 60px 0;
    background: #fdfdfd;
}

#Package h2 {
   justify-content: center;
    margin-bottom: 40px;
    margin-top:  20px;
    font-size: 2.5rem;
    color: #333;
    text-align: center;
}

.pacakge-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 25px;
    justify-content: center;
}

.pacakge-card {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}
.pacakge-card img {
    width: 100%;
    height: 220px;
    object-fit: cover;
}

.pacakge-card:hover {
    transform: translateY(-10px);
}

.pacakge-card h3 {
    font-size: 1.2rem;
    margin: 15px;
    color: #333;
}


.pacakge-card a{
    display: inline-block;
    background-color: #6ba66b;
    padding: 10px 15px;
    color: #fff;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    font-size: 0.9rem;
    margin-left: 50px;
    margin-bottom: 15px;
}

.pacakge-card a:hover{
    background-color: #5a9459;
}

.price {
    color: #000000;
    font-size: 1.2rem;
    margin-bottom: 10px;
    text-align: center;
    
}

/* Testimonial Section */
#testimonials {
  padding: 60px 0;
}
#testimonials h2 {
  text-align: center;
  color: #0e3959;
  font-size: 2rem;
  margin-bottom: 40px;
}

.testimonials-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 25px;
}

.testimonial {
  background: #f8f9fa;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  padding: 15px;
  text-align: center;
}
.testimonial i {
  color: black;
  margin-bottom: 10px;
}
.testimonial p {
  font-style: italic;
  margin-bottom: 10px;
}
.testimonial h4 {
  color: #0e3959;
  margin-top: 10px;
}