*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}

body{
 font-family: "Poppins",sans-serif;
 background-color: #fdfdfd;
 color: #333;
}

header{
    background-color: #9cc779;
    padding: 20px 0;
    color: white;
    position: sticky;
    top: 0;
    z-index: 1000;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul{
    list-style: none;
    display: flex;
    gap: 20px
}

nav ul a{
    color: #fff;
    text-decoration: none;
    font-size: larger;
}

nav a:hover{
    color: black ;
}


/* home section */

#hero{
    position: relative;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-align: center;
    overflow: hidden;
}

.bg-video{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: 1;
}

.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background: rgb(0, 0, 0,0.4);
}

.home-contain{
    position: relative;
    z-index: 3;
    max-width: 800px;
    text-align: center;
}

.home-contain h2{
    font-size: 3rem;
    margin-bottom: 15px;
}

.home-contain p{
    font-size: 1.3rem;
    margin-bottom: 25px;
}

.home-contain a{
    background-color: rgb(107, 186, 107);
    padding: 15px 25px;
    color: yellow;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
}

.home-contain a:hover{
    background-color: rgb(253, 212, 212);
}


/* section */
section{
    padding: 0 20px;
    display: flex;
    justify-content: center;
}
section .container{
    width: 100%;
    max-width: 1200px;
    padding: 0 20px;
}


/* Product section */

#products {
    padding: 60px 0;
    background: #fdfdfd;
}

#Product h2 {
   justify-content: center;
    margin-bottom: 40px;
    margin-top:  20px;
    font-size: 2.5rem;
    color: #333;
    text-align: center;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 25px;
    justify-content: center;
}

.product-card {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}
.product-card img {
    width: 100%;
    height: 220px;
    object-fit: cover;
}

.product-card:hover {
    transform: translateY(-10px);
}

.product-card h3 {
    font-size: 1.2rem;
    margin: 15px;
    color: #333;
}

